/* Login and signup forms */

.account-form {
  margin: 0;
  padding: 20px;
}

.account-form button {
  width: auto;
  margin-left: 0;
  padding: 10px 20px;
}

#signup-form button {
  width: auto;
  padding: 10px 20px;
}

.account-forms-container {
  padding: 0;
  margin: 0;
}

#story-form {
  margin: 0;
  padding: 20px;
}

#story-form button {
  width: auto;
  padding: 10px 20px;
}
