{% extends 'base.html' %}

{% block content %}

<h1>Create a New Song</h1>

<form class = "ml-5 mt-2" method="POST">
    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button class = "btn btn-primary" type="submit">Add Song</button>
  </form>

{% endblock %}